body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background: url("../img/bg.png");
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    width: 1000px;
    margin: 20px auto;
    background-color: white;
}
.conteiner{
    display: flex;

}

/*header*/
.header {
    padding: 20px;
    background-color: black;

}
.header-title {
    margin: 0;
    font-size: 24px;
    color: rgb(240, 234, 234);
    text-align: center;
}
.header-subtitle {
    margin: 0;
    font-size: 20px;
    color: rgb(176, 176, 218);
    text-align: center;
    font-weight: normal;
}

/*navigation*/
.nav {
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-link {
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s linear ;
}
.nav-link:hover {
    background-color:#eee;
}
/*img*/
.image{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.8;
    transition: opacity 0.1s linear;
}
.image :hover {
    opacity: 1;
}
/* Content */
.content {
    width: 800px;
    padding: 0 20px;
}
.content-text{
    margin: 20px;
}
.content-title {
    margin: 0 0 15px;
    font-size: 24px;
    color: black;
}
.read-more {
    color: crimson;
    text-decoration: none;

}
.read-more:hover {
    background-color: darkgrey;
    text-decoration: underline;
}
h1,h2,h3,h4,h5 {
    margin:0;
}
/*article*/
.article{
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.article-title{
    margin:0 0 5px;
    font-size: 18px;
    color: darkslategray;
}
.article-title a {
    color: inherit;
    text-decoration: none;
}
.article-title:hover {
    background-color: yellow;
}
.article-date{
    color: rgb(92, 84, 84);
    font-size: 12px;
    display: block;
}
/*sidebar*/
.sidebar{
    width: 200px;
    background-color: gray;
    padding: 10px;
}
.sidebar-title{
    font-size: 16px;
    color: hotpink;
    margin-bottom: 20px;

}
.sidebar-image{
    background-color: khaki;
}
/*footer*/
.footer{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: blanchedalmond;

}